body {
    background-color: lightblue;
  }

  
  .table
  {
      background-color: black;
      
      
      border-radius: 20px;
      border-width: 20px;
  }
  .table thead th , .table tbody td
  {
      padding: 20px;
      text-align: center;
      
  }
